In [1]:
!pip install jinja2

Collecting jinja2
  Downloading jinja2-3.1.6-py3-none-any.whl.metadata (2.9 kB)
Collecting MarkupSafe>=2.0 (from jinja2)
  Downloading MarkupSafe-3.0.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.0 kB)
Downloading jinja2-3.1.6-py3-none-any.whl (134 kB)
Downloading MarkupSafe-3.0.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (23 kB)
Installing collected packages: MarkupSafe, jinja2
Successfully installed MarkupSafe-3.0.2 jinja2-3.1.6
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
df

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

- format()
- format_index()

In [3]:
df.style\
.format(
    precision=2,
    thousands=',',
    decimal='.'
).format_index(axis=1,formatter=str.upper)\
.relabel_index(["row1","row2"], axis=0)

In [4]:
import pandas as pd
import numpy as np
# 範例 DataFrame
data = {
    'A': [1234.5678, 9876.5432, 10000.00],
    'B': [0.1234, 0.5678, 0.9999],
    'C': ['蘋果', '香蕉', '櫻桃'],
    'D': pd.to_datetime(['2023-10-26', '2023-10-27', '2023-10-28']),
    'E': [np.nan, 1, 2]
}
df = pd.DataFrame(data)
df

            A       B   C          D    E
0   1234.5678  0.1234  蘋果 2023-10-26  NaN
1   9876.5432  0.5678  香蕉 2023-10-27  1.0
2  10000.0000  0.9999  櫻桃 2023-10-28  2.0

In [6]:
styled_df1=df.style.format("{:.2f}",subset=['A','B'])
styled_df1

style.format() 方法的常用格式化字串

以下是一些常用的格式化字串及其說明：

{:.2f}： 將浮點數顯示為兩位小數。
{:.0f}： 將浮點數顯示為整數（無小數）。
{:,}： 添加千位分隔符。
{:.2%}： 將數值顯示為百分比，並保留兩位小數。
${:.2f}： 添加美元符號，並保留兩位小數。
{:.2e}: 科學記號表示法，並保留兩位小數。
{:+.2f}: 顯示正負號，並保留兩位小數。
{:0>4d}: 顯示整數，不足四位數，前面補0。
{:%Y/%m/%d}： 將日期顯示為 YYYY/MM/DD 格式。
{:%Y-%m-%d %H:%M:%S}: 將日期時間顯示為 YYYY-MM-DD HH:MM:SS 格式。
lambda x: f'{x:.2f}': 使用lambda函數，將浮點數顯示為兩位小數。

In [15]:
weather_df=pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo","Taipei"])
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='PuBuGn')

In [16]:
weather_df=pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo","Taipei"])
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='PuBuGn')

#https://matplotlib.org/stable/gallery/color/colormap_reference.html

In [17]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='BuPu',subset=['Tokyo'])

In [26]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='PuBu',subset=['Taipei'])\
.format()

In [31]:
def rain_condition(v):
    if v < 1.75:
        return "乾燥"
    elif v < 2.75:
        return "有雨"
    else:
        return "大雨"

def change_index(t):
   return t.strftime('%Y年%m月%d日')

weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='BuPu',subset=['Tokyo'])\
.format(rain_condition)\
.format_index(change_index)

In [33]:
import numpy as np
np.random.seed(0)
df2= pd.DataFrame(np.random.randn(10,4), columns=['A','B','C','D'])
display(df2.style)

In [ ]:
def style_negative(v):
    return 'color:#ff0000; background-color: yellow'
df2.style.applymap(style_negative)

/tmp/ipykernel_69170/2683704010.py:3: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  df2.style.applymap(style_negative)

In [48]:
import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50, 5))
df = pd.DataFrame(scores,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51)
             )
df.index.name = '學號'
df.columns.name = '科目'
df

科目   國文   英文   數學   地理   歷史
學號
1    91   54   99  100   63
2    80   95   73   84   85
3    59   76   76   72   62
4    65   84   76   88   96
5    66   97   90   50   60
6    61   63   57   80   56
7    95   80   65   91   88
8    93   68   57   78   51
9    91   52  100   78   64
10   87   77   86   81   79
11  100   96   79  100   83
12   62   82   91   66   52
13   58   60   98   76   77
14   51   50   55   74   84
15   65   53   96   87   93
16   69   74   56   70   56
17   78   56   52   78   78
18   88   87   55   95   59
19   86   63   71   81   67
20   85   95   58   75   71
21   95   87   72   66   75
22   96   87   51   55   56
23   62   76   60   64   58
24   57   95   55   97   92
25   53   60  100   77   75
26   53   64   68   55   54
27   67   55   80   74   53
28   55   90   86   99   74
29   83   68   83   64   99
30   57   93   96   98   83
31   67   79   62   96   82
32   84   73   75   96  100
33   93   91   96   50   62
34   59   68   54   57   53
35   98   62   87   95   98
36   95   68   99   57   76
37   99   96   79   53   60
38   70   92   51   70   66
39   92  100   78   76   73
40   98   52   88   59   52
41   94   91   75   86   76
42   54   91   60   62   90
43   83   87   89   82   83
44   76   85   75  100   74
45   68   70   80   78   58
46   68   75   74   89   92
47   78   74   68   53   94
48   69   95   50   60   53
49   56   77   85   56   69
50   84  100  100   88   70

In [58]:
def less_60(v):
    if v < 60:
        return 'background-color:red'
df.style.applymap(less_60)

/tmp/ipykernel_69170/3081280398.py:4: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  df.style.applymap(less_60)

In [62]:
def less_cells(row):
    if len(row[row < 60]) >= 3:  # type: ignore
        return ['background-color:red'] * len(row)
    else:
        return [''] * len(row)

df.style.apply(less_cells, axis=1)